<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title>To Do</title>
  </head>
  <body>
 <nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
      <h2>{{request.user}}</h2>
  </a>
     <a href="{% url 'logout' %}" type="button" class="btn btn-light">Logout</a>
</nav>

    <div class="container" style="align-content: center;    margin-top: 40px;">
        <h2>Create your to-do here.</h2>
        <form action="/todo/add/" method="Post">
            {% csrf_token %}
          <div class="form-group">
            <label for="title">Title</label>
            <textarea class="form-control" id="title" rows="2" name="title" placeholder="write here......"></textarea>
          </div>


            <center><button type="submit" class="btn btn-success">Create</button></center>
        </form>

    </div>

    <hr>

        <div class="container my-4">
            <ul class="list-group">
                <li class="list-group-item"><h4>Todo list</h4></li>

                {% for task in tasks %}
                    {% if task.complete == True %}
                        <li class="list-group-item list-group-item-success mt-2"><strike><h5>{{ task }}</h5></strike><small>Created: {{task.created}}</small></li>

                        <span>
                         <a  href="{% url 'uncomplete' task.id %}" class="btn btn-primary btn-sm" style="color:white;">Todo</a>
                         <a href="{% url 'edit' task.id %}" class="btn btn-warning btn-sm">Edit</a>
                         <a href="{% url 'delete' task.id %}" class="btn btn-danger btn-sm">Delete</a>
                        </span>

                    {% else %}

                        <li class="list-group-item list-group-item-primary mt-2"><h5>{{ task }}</h5><small>Created: {{task.created}}</small></li>

                        <span>
                         <a  href="{% url 'complete' task.id %}" class="btn btn-success btn-sm">Completed</a>
                         <a href="{% url 'edit' task.id %}" class="btn btn-warning btn-sm">Edit</a>
                         <a href="{% url 'delete' task.id %}" class="btn btn-danger btn-sm">Delete</a>
                        </span>


                    {% endif %}

                {% endfor %}
            </ul>
        </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </body>
</html>




